.header,
.header__menu {
  background-color: #fff;
}

.header {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  top: 0;
  width: 100%;
  height: 85px;
  box-shadow: 1px 1px 30px 0 rgba(0, 0, 0, 0.3);
  padding: 0px 50px;
  &__menu {
    overflow: hidden;
    margin: 0;
    padding-top: 0;
    list-style: none;
    clear: both;
    transition: max-height 0.2s ease-out;
    height: 100%;

  }
  &__float {
    float: left;
    height: 100%;
    &:hover {
      color: $primaryColor;
    }
  }

  &__btn {
    display: flex;
    padding: 15px 30px;
    align-items: center;
    text-align: center;
    height: 100%;

  }

  &__icon {
    position: absolute;
    top: 0;
    display: none;
    margin-top: 10px;
    padding: 35px 20px;
    cursor: pointer;
    user-select: none;
  }

  &__navicon {
    position: relative;
    display: block;
    width: 18px;
    height: 2px;
    transition: background .2s ease-out;
    background: #333;
    &:before, &:after {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      transition: all .2s ease-out;
      background: #333;
    }

    &:before {
      top: 5px;
    }

    &:after {
      top: -5px;
    }
  }

  &__hamb {
    display: none;
    &:checked ~ {
      .header__menu {
        max-height: 300px;
      }
      .header__icon {
        .header__navicon {
          background: 0 0;
          &:before {
            transform: rotate(-45deg);
          }
          &:after {
            transform: rotate(45deg);
          }
        }
        &:not(.steps) .header__navicon {
          &:after, &:before {
            top: 0;
          }
        }
      }
    }
  }
}

@media (max-width:970px) {
  .header {
    display: inline-block;
    padding: 0;
    &__logo {
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: center;
    }

    &__menu {
      max-height: 0;
      height: auto;

    }

    &__float {
      float: inherit;
      display: flex;
      justify-content: center;
    }

    &__icon {
      display: inline-block;
    }
  }
}
