@font-face {
  font-family: 'Noto Sans',sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url(fonts/NotoSans-Regular.ttf) format("ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Noto Sans', sans-serif;
  color: #555;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

hr {
  width: 50px;
  height: 3px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  margin-bottom: 20px;
  border: 0;
  background-color: #8c9eff;
}

.no-js .lazy {
  display: none;
}

/* Containers */
.card,
.card__eleme,
.item,
.circle {
  display: flex;
  align-items: center;
}

/* Cards */
.card {
  flex-direction: column;
  padding: 75px;
}

.card__header {
  text-align: center;
  font: 30px 'Noto Sans', sans-serif;
  margin-bottom: 20px;
}

.card__eleme {
  width: 100%;
  text-align: left;
  flex-flow: row wrap;
  justify-content: space-around;
}

.card__text {
  color: #6c757d;
}

.card__text--box {
  max-width: 400px;
  margin-bottom: 20px;
}

@media (max-width: 950px) {
  .card__text--box {
    text-align: center;
  }
}

/* Header */
/* Maybe later i will try conwert to BEM */
.header,
.header__menu {
  background-color: #fff;
}

.header {
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
  height: 85px;
  box-shadow: 1px 1px 30px 0 rgba(0, 0, 0, 0.3);
}

.header__logo {
  padding: 10px 10px 10px 100px;
}

.header__menu {
  overflow: hidden;
  margin: 0;
  padding-top: 0;
  list-style: none;
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.header__btn {
  display: block;
  padding: 15px;
  text-align: center;
}

.header__btn .header_hamb:hover, .header__btn .header li a:hover {
  color: #8c9eff;
}

.header__icon {
  position: absolute;
  top: 0;
  display: inline-block;
  margin-top: 10px;
  padding: 35px 20px;
  cursor: pointer;
  user-select: none;
}

.header__navicon {
  position: relative;
  display: block;
  width: 18px;
  height: 2px;
  transition: background .2s ease-out;
  background: #333;
}

.header__navicon:before, .header__navicon:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  transition: all .2s ease-out;
  background: #333;
}

.header__navicon:before {
  top: 5px;
}

.header__navicon:after {
  top: -5px;
}

.header__hamb {
  display: none;
}

.header__hamb:checked ~ .header__menu {
  max-height: 300px;
}

.header__hamb:checked ~ .header__icon .header__navicon {
  background: 0 0;
}

.header__hamb:checked ~ .header__icon .header__navicon:before {
  transform: rotate(-45deg);
}

.header__hamb:checked ~ .header__icon .header__navicon:after {
  transform: rotate(45deg);
}

.header__hamb:checked ~ .header__icon:not(.steps) .header__navicon:after, .header__hamb:checked ~ .header__icon:not(.steps) .header__navicon:before {
  top: 0;
}

@media (min-width: 970px) {
  .header__float {
    float: left;
  }
  .header__btn {
    padding: 34px 30px 29px;
  }
  .header__menu {
    float: right;
    clear: none;
    max-height: none;
    margin-right: 100px;
  }
  .header__icon {
    display: none;
  }
}

@media (max-width: 970px) {
  .header__logo {
    display: flex;
    margin: 0 auto;
    padding: 10px 0;
  }
}

/* Banner */
.banner {
  margin-top: 85px;
  color: #fff;
  position: relative;
  min-height: 75vh;
  text-align: center;
  justify-content: center;
}

.banner__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #414a4f;
  background-image: url("../img/rast_129odbicie.jpg");
  /* Hiding the banner picture under the inscriptions */
  z-index: -1;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.banner__image:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #414a4f;
  content: '';
  opacity: 0.7;
}

.banner__header {
  font: 50px 'Noto Sans',sans-serif;
  margin-bottom: 15px;
}

.banner__header2 {
  font: 20px 'Noto Sans',sans-serif;
  margin-bottom: 40px;
}

.banner__btn {
  padding: 13px 34px;
  border-radius: 10rem;
  background-color: #8c9eff;
}

/* Offer */
.item {
  flex-direction: column;
  width: 250px;
  margin-top: 50px;
  text-align: center;
}

.item__text {
  margin-top: 20px;
  color: #444;
}

.circle {
  width: 75px;
  height: 75px;
  margin-bottom: 30px;
  color: #fff;
  border-radius: 50%;
  background-color: #8c9eff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  justify-content: center;
}

.circle__fill {
  width: 30pt;
  height: 30pt;
  fill: currentColor;
}

/* Description */
.description {
  background-color: #f5f5f5;
}

.description__img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.description--space {
  line-height: 2;
}

/* Realizations */
.realizations {
  padding: 75px 0;
}

.realizations__gallery {
  overflow: hidden;
  width: 350px;
  height: 300px;
  flex: auto;
}

.realizations__image {
  width: 100%;
  height: auto;
  min-height: 300px;
}

@media (max-width: 700px) {
  .realizations__gallery {
    width: 100%;
  }
}

/* Footer */
.footer__icon {
  width: 15px;
}
