$primaryColor: #7886d4;//#8c9eff;

@font-face {
    font-family: 'Noto Sans',sans-serif;
    font-weight: 400;
    font-style: normal;
    src: url(fonts/NotoSans-Regular.ttf) format('ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Noto Sans', sans-serif;
    color: #555;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

hr {
    width: 50px;
    height: 3px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    margin-bottom: 20px;
    border: 0;
    background-color: $primaryColor;
}

.no-js .lazy {
  display: none;
}



/* Containers */

.card,
.card__eleme,
.item,
.circle {
    display: flex;
    align-items: center;
}

/* Cards */

.card {
  flex-direction: column;
  padding: 75px;
  &__header {
    text-align: center;
    font: 30px 'Noto Sans', sans-serif;
    margin-bottom: 20px;
  }

  &__eleme {
    width: 100%;
    text-align: left;
    flex-flow: row wrap;
    justify-content: space-around;
    &--flexStart {
      align-items: flex-start;
    }
  }

  &__text {
    color: #6c757d;
    &--box {
      max-width: 400px;
      margin-bottom: 20px;
    }
  }
}

@media (max-width:950px) {
    .card__text--box {
        text-align: center;
    }
}

/* Header */

/* Maybe later i will try conwert to BEM */
@import "./header";

/* Banner */

.banner {
  margin-top: 85px;
  color: #fff;
  position: relative;
  min-height: 75vh;
  text-align: center;
  justify-content: center;
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #414a4f;
    background-image: url("../img/rast_129odbicie.jpg");
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #414a4f;
      content: '';
      opacity: 0.7;
    }
    /* Hiding the banner picture under the inscriptions */
    z-index: -1;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  &__header {
    font: 50px 'Noto Sans',sans-serif;
    margin-bottom: 15px;
  }
  &__header2 {
    font: 20px 'Noto Sans',sans-serif;
    margin-bottom: 40px;
  }

  &__btn {
      padding: 13px 34px;
      border-radius: 10rem;
      background-color: $primaryColor;
  }
}

/* Offer */

.offer {
  display: flex;
  align-items: fl
}

.item {
    flex-direction: column;
    width: 250px;
    margin-top: 50px;
    text-align: center;
    &__text {
      margin-top: 20px;
      color: #444;
    }
}

.circle {
    width: 75px;
    height: 75px;
    margin-bottom: 30px;
    color: #fff;
    border-radius: 50%;
    background-color: $primaryColor;
    box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
    justify-content: center;
    &__fill {
      width: 30pt;
      height: 30pt;
      fill: currentColor;
    }
}

/* Description */

.description {
  background-color: #f5f5f5;
  &__img {
    width: 100%;
    max-width: 350px;
    height: auto;
  }

  &--space {
    line-height: 2;
  }
}

/* Realizations */

.realizations {
    padding: 75px 0;
    &__gallery {
      overflow: hidden;
      width: 350px;
      height: 300px;
      flex: auto;
    }

    &__image {
      width: 100%;
      height: auto;
      min-height: 300px;
    }
}

@media (max-width:700px) {
    .realizations__gallery {
        width: 100%;
    }
}

/* Footer */

.footer__icon {
  width: 20px;
}
